{
    auto_https off
}

:80 {
    file_server
    root * /srv/public
    try_files {path} {path}/ /index.php?{query}
    php_fastcgi php-fpm:9000
    encode zstd gzip
    log {
        output stdout

        format filter {
            # Delete the User-Agent request header
            request>headers>User-Agent delete
            # Redact multiple sensitive cookies.
            request>headers>Cookie cookie {
                replace session REDACTED
                delete secret
            }
            # Mask the remote address from the request,
            # keeping the first 16 bits (i.e. 255.255.0.0) for IPv4 addresses, and the first 32 bits from IPv6 addresses.
            request>remote_ip ip_mask 16 32
            request>client_ip ip_mask 16 32
        }
    }
}
