/*
Voir la doc d'installation de Tailwind dans Laravel pour comprendre
https://tailwindcss.com/docs/installation/framework-guides/laravel/vite
*/
@import 'tailwindcss';

/*
En gros c'est les fichiers scannés par Tailwind quand on compile le style.
Il va regarder quelles classes CSS sont utilisées dedans pour les ajouter au fichier .css compilé,
comme ça il est pas trop gros.
*/
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

/*Voir https://tailwindcss.com/docs/font-family*/
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --animate-wiggle: wiggle 0.5s ease-in-out infinite;
    @keyframes wiggle {
        0%,
        100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }
}

[x-cloak] { display: none !important; }

.vis-timeline {
    border: 0 !important;
}
